In [21]:
import pandas as pd, os, numpy as np
EU_countries = "Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovak Republic, Slovenia, Spain, Sweden".split(", ")
os.chdir(r"C:\Users\Melanie\OneDrive - Rensselaer Polytechnic Institute\Desktop\School\24_Spring\Data Analytics\DA_Project")

In [50]:
file = pd.read_csv("world_population.csv")

In [52]:
#get rid of the stuff we don't want
file = file.iloc[:217,2:]

In [53]:
#get the EU countries
EU_file = file[file["Country Name"].isin(EU_countries)]

In [56]:
EU_file["Country Name"] = EU_file["Country Name"].replace(["Slovak Republic"],["Slovakia"])

C:\Users\Melanie\AppData\Local\Temp\ipykernel_2792\337920758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EU_file["Country Name"] = EU_file["Country Name"].replace(["Slovak Republic"],["Slovakia"])

In [60]:
EU_file.columns = list(EU_file.columns[:2]) + [str(n) for n in list(range(2000,2023))]

In [68]:
EU_file = EU_file.drop("Country Code",axis=1)

In [70]:
new_EU_file = EU_file.melt(id_vars = ["Country Name"], var_name = "Year",value_name = "Population")
new_sheet.sort_values(by = ["Country","Year"],inplace=True)

    Country Name  Year Population
0        Austria  2000    8011566
1        Belgium  2000   10251250
2       Bulgaria  2000    8170172
3        Croatia  2000    4468302
4         Cyprus  2000     948237
..           ...   ...        ...
616      Romania  2022   19047009
617     Slovakia  2022    5431752
618     Slovenia  2022    2111986
619        Spain  2022   47778340
620       Sweden  2022   10486941

[621 rows x 3 columns]